@model LIST.Models.Profile
@{
    Layout = "~/Areas/Leerling/Views/Shared/_LayoutLOB.cshtml";
    ViewBag.Title = "Profiel kiezen";

    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        string color = "grey";
        if (ViewBag.Message.StartsWith("[Err]")) { ViewBag.Message = ViewBag.Message.Replace("[Err]", ""); color = "red"; }
        else if (ViewBag.Message.StartsWith("[Suc]")) { ViewBag.Message = ViewBag.Message.Replace("[Suc]", ""); color = "green"; }
        <script>M.toast({ html: '@ViewBag.Message', classes: '@color' });</script>
    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <h2>Profiel kiezen</h2>

    @using (Html.BeginForm("KeuzeOpslaan", "Profielkeuze", FormMethod.Post, new { @class = "keuze-form" }))
    {
        <p>Studentcode: </p>
        @Html.DisplayFor(m => m.Studentcode);
        @Html.DisplayFor(m => m.Id);
        <p>Profielnaam: </p>
        @Html.TextBoxFor(m => m.Profilename, new { @class = "black-text", placeholder = "Profiel" });
        <p>Afgevinkt: </p>
        @Html.DisplayFor(m => m.Checked);
        <input type="submit" value="Opslaan" />
    }



</body>
</html>